<% include partials/header %>
<h1>This is the homepage</h1>

<img src=https://scontent.fftw1-1.fna.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/20246425_323245704791254_405229349407249149_n.jpg?oh=deec4092ae3739df09f8a664985ec001&oe=5A32EB46></img>
<% include partials/footer %>